.nav {
  position: fixed;
  top: 210px;
  left: 0px;
  writing-mode: vertical-lr;
  display: flex;
  /* background: linear-gradient(to left, #636fa4, #e8cbc0); */
  padding: 20px 10px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  z-index: 1;
  transition-duration: 0.5s;
  transform: rotateZ(180deg);
}

.nav:hover {
  transition: all 0.5s ease-in-out;
  /* background: linear-gradient(to right, #636fa4, #e8cbc0); */
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 26px;
  color: white;
}

.nav a:hover {
  transition: 0.2s ease-in-out;
  color: black;
}

.nav a:not(:last-child) {
  margin-bottom: 20px;
}
